.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #100e17;
  text-align: center;
  min-height: 100vh;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding-right: 0;
  background:#09080d;

}

.App-footer {
  position: fixed;
  bottom: 0;
  width:100%;
  text-align: left;
  padding-left: 5vh;
  background:#09080d;
  font-size: calc(10px + 1vmin);
  font-weight: bold;
}

